html, body {
    margin: 10;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: #020202;
    background-color: #e4e0de;
                        }
.motivatie  {
    max-width: 900px;
}
.header {
    max-width: 800px;
    text-align: center;
    background-color:DodgerBlue;
}
.profilepic {
    float: right;
    width: 300px;
    height: 300px;
    padding-left: 10px;
}
.hobby {
    margin:20px;
}
.header2 {
    max-width: 600px;
    text-align: center;
}
.computerpic {
    float: right;
    width: 300px;
    height: 300px;
    padding-left: 10px;
}
.computer{
    max-width: 900px;
    border:2px solid Violet;
    margin: 20px;
}
.header3 {
    max-width: 600px;
    text-align: center;
    padding: 10px;
    
}
.Opleiding {
    max-width: 600px;
    text-align: center;
}
.contact {
    max-width: 600px;
    text-align: center;
}
.contactgegevens {
    max-width: 800px;
    text-align: center;
}
